# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
.env/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Logs
*.log

# Plot/output images
*.png
*.jpg
*.jpeg
*.svg

# Pytest cache
.pytest_cache/

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
